exports/n8n-workflows/WF-05-voiceover.json
{
  "name": "WF-05 Voiceover Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-05-voice",
        "responseMode": "lastNode",
        "options": { "responseData": "firstEntryJson" }
      },
      "id": "trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-05-voice"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst config = input.resolved_config || {};\nconst computed = input.computed || {};\n\n// Get approved script\nconst script = input.manifest?.script?.approved || input.manifest?.script?.draft || '';\n\nif (!script || script.length < 20) {\n  return [{\n    json: {\n      ...input,\n      error: true,\n      error_message: 'No script available for voiceover',\n      status: 'FAILED'\n    }\n  }];\n}\n\n// Clean script for TTS (remove markers)\nconst cleanScript = script\n  .replace(/\\[SCENE\\s*\\d*:?[^\\]]*\\]/gi, '')\n  .replace(/\\[PAUSE\\]/gi, '...')\n  .replace(/\\[B-ROLL:[^\\]]*\\]/gi, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\n// Get voice settings\nconst language = input.language || 'en';\nconst voiceId = computed.voice_id || config.tts?.voices?.[language]?.male || 'pNInz6obpgDQGcFmaJgB';\nconst model = config.tts?.model || 'eleven_multilingual_v2';\n\nreturn [{\n  json: {\n    ...input,\n    tts_request: {\n      text: cleanScript,\n      voice_id: voiceId,\n      model_id: model,\n      voice_settings: {\n        stability: config.tts?.stability || 0.5,\n        similarity_boost: config.tts?.similarity_boost || 0.75,\n        style: config.tts?.style || 0.0,\n        use_speaker_boost: true\n      }\n    }\n  }\n}];"
      },
      "id": "prepare",
      "name": "Prepare TTS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{$json.tts_request.voice_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "={{$env.ELEVENLABS_API_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Accept", "value": "audio/mpeg" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{JSON.stringify($json.tts_request.text)}},\n  \"model_id\": \"{{$json.tts_request.model_id}}\",\n  \"voice_settings\": {{JSON.stringify($json.tts_request.voice_settings)}}\n}",
        "options": {
          "timeout": 180000,
          "response": { "response": { "responseFormat": "file" } }
        }
      },
      "id": "elevenlabs",
      "name": "Call ElevenLabs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $node['Prepare TTS'].json;\nconst ttsResponse = $json;\nconst now = new Date().toISOString();\n\ntry {\n  if (ttsResponse.error || ttsResponse.detail) {\n    throw new Error(ttsResponse.detail?.message || ttsResponse.error || 'TTS failed');\n  }\n\n  // In production, upload audio to cloud storage\n  // For now, simulate URL\n  const storageBase = input.resolved_config?.storage?.base_url || 'https://storage.example.com';\n  const voiceoverUrl = `${storageBase}/voiceover/${input.run_id}.mp3?t=${Date.now()}`;\n\n  return [{\n    json: {\n      run_id: input.run_id,\n      mode: input.mode,\n      voiceover_url: voiceoverUrl,\n      voice_id: input.tts_request.voice_id,\n      text_length: input.tts_request.text.length,\n      has_audio: true,\n      generated_at: now,\n      status: 'VOICEOVER_GENERATED'\n    }\n  }];\n\n} catch (error) {\n  return [{\n    json: {\n      run_id: input.run_id,\n      error: true,\n      error_message: error.message,\n      status: 'FAILED'\n    }\n  }];\n}"
      },
      "id": "process",
      "name": "Process Audio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{"node": "Prepare TTS", "type": "main", "index": 0}]] },
    "Prepare TTS": { "main": [[{"node": "Call ElevenLabs", "type": "main", "index": 0}]] },
    "Call ElevenLabs": { "main": [[{"node": "Process Audio", "type": "main", "index": 0}]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "yt-studio-wf-05-v1",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "wf-05"
}
