exports/n8n-workflows/WF-11-settings-panel.json
{
  "name": "WF-11 Settings Panel",
  "nodes": [
    {
      "parameters": {
        "formTitle": "YouTube Automation Studio Settings",
        "formDescription": "Configure your YouTube automation pipeline settings",
        "responseMode": "lastNode",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Channel Category",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Tech & AI" },
                  { "option": "Finance & Investing" },
                  { "option": "Health & Fitness" },
                  { "option": "Education" },
                  { "option": "Gaming" },
                  { "option": "Cooking & Recipes" },
                  { "option": "Travel" },
                  { "option": "Real Estate" },
                  { "option": "Product Reviews" },
                  { "option": "Pets & Animals" },
                  { "option": "Custom" }
                ]
              }
            },
            {
              "fieldLabel": "Primary Language",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "English (en)" },
                  { "option": "Arabic (ar)" },
                  { "option": "Turkish (tr)" },
                  { "option": "Spanish (es)" },
                  { "option": "French (fr)" },
                  { "option": "German (de)" },
                  { "option": "Portuguese (pt)" },
                  { "option": "Hindi (hi)" }
                ]
              }
            },
            {
              "fieldLabel": "Target Countries",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "US, UK, CA, AU"
            },
            {
              "fieldLabel": "Default Video Length",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Short (3-5 min)" },
                  { "option": "Medium (8-12 min)" },
                  { "option": "Long (15-20 min)" },
                  { "option": "Extra Long (25-40 min)" }
                ]
              }
            },
            {
              "fieldLabel": "Video Quality",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "720p HD" },
                  { "option": "1080p Full HD" },
                  { "option": "4K Ultra HD" }
                ]
              }
            },
            {
              "fieldLabel": "Voice Quality",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Standard" },
                  { "option": "Premium" }
                ]
              }
            },
            {
              "fieldLabel": "Male Voice ID (ElevenLabs)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Voice ID for male narration"
            },
            {
              "fieldLabel": "Female Voice ID (ElevenLabs)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "Voice ID for female narration"
            },
            {
              "fieldLabel": "Auto-generate Thumbnails",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Yes" },
                  { "option": "No" }
                ]
              }
            },
            {
              "fieldLabel": "SEO Optimization",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Enabled" },
                  { "option": "Disabled" }
                ]
              }
            },
            {
              "fieldLabel": "Auto Tags",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "Enabled" },
                  { "option": "Disabled" }
                ]
              }
            },
            {
              "fieldLabel": "OpenAI Model",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "gpt-4o-mini" },
                  { "option": "gpt-4o" },
                  { "option": "gpt-4-turbo" }
                ]
              }
            },
            {
              "fieldLabel": "OpenAI Temperature",
              "fieldType": "number",
              "requiredField": false,
              "placeholder": "0.7"
            },
            {
              "fieldLabel": "Storage Provider",
              "fieldType": "dropdown",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  { "option": "cloudinary" },
                  { "option": "generic_http" },
                  { "option": "s3" }
                ]
              }
            },
            {
              "fieldLabel": "Storage Base URL (Optional)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "https://cdn.example.com"
            },
            {
              "fieldLabel": "Cloudinary Cloud Name",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "cloud_name"
            },
            {
              "fieldLabel": "Cloudinary Upload Preset (Unsigned)",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "upload_preset"
            },
            {
              "fieldLabel": "Generic Upload Endpoint",
              "fieldType": "text",
              "requiredField": false,
              "placeholder": "https://my-uploader/upload"
            }
          ]
        }
      },
      "id": "form_trigger",
      "name": "Settings Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "wf-11-settings"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const formData = $json;\nconst now = new Date().toISOString();\n\n// Map form values to config structure\nconst categoryMap = {\n  'Tech & AI': 'tech_ai',\n  'Finance & Investing': 'finance',\n  'Health & Fitness': 'health',\n  'Education': 'education',\n  'Gaming': 'gaming',\n  'Cooking & Recipes': 'cooking',\n  'Travel': 'travel',\n  'Real Estate': 'real_estate',\n  'Product Reviews': 'reviews',\n  'Pets & Animals': 'pets',\n  'Custom': 'custom'\n};\n\nconst languageMap = {\n  'English (en)': 'en',\n  'Arabic (ar)': 'ar',\n  'Turkish (tr)': 'tr',\n  'Spanish (es)': 'es',\n  'French (fr)': 'fr',\n  'German (de)': 'de',\n  'Portuguese (pt)': 'pt',\n  'Hindi (hi)': 'hi'\n};\n\nconst videoLengthMap = {\n  'Short (3-5 min)': 'short_3_5',\n  'Medium (8-12 min)': 'medium_8_12',\n  'Long (15-20 min)': 'long_15_20',\n  'Extra Long (25-40 min)': 'extra_25_40'\n};\n\nconst qualityMap = {\n  '720p HD': '720p',\n  '1080p Full HD': '1080p',\n  '4K Ultra HD': '4k'\n};\n\n// Parse target countries\nconst targetCountries = (formData['Target Countries'] || 'US, UK, CA, AU')\n  .split(',')\n  .map(c => c.trim().toUpperCase())\n  .filter(c => c.length === 2);\n\nconst storageProvider = (formData['Storage Provider'] || 'cloudinary').toString().toLowerCase();\n\n// Build config object\nconst config = {\n  category: categoryMap[formData['Channel Category']] || 'education',\n  language: languageMap[formData['Primary Language']] || 'en',\n  target_countries: targetCountries.length ? targetCountries : ['US', 'UK', 'CA', 'AU'],\n  video_length: {\n    normal: videoLengthMap[formData['Default Video Length']] || 'medium_8_12',\n    short: '60s'\n  },\n  quality: {\n    video: qualityMap[formData['Video Quality']] || '1080p',\n    voice: formData['Voice Quality']?.toLowerCase() || 'premium'\n  },\n  tts: {\n    voices: {}\n  },\n  options: {\n    auto_thumbnail: formData['Auto-generate Thumbnails'] === 'Yes',\n    seo_optimization: formData['SEO Optimization'] === 'Enabled',\n    auto_tags: formData['Auto Tags'] === 'Enabled'\n  },\n  openai: {\n    model: formData['OpenAI Model'] || 'gpt-4o-mini',\n    temperature: parseFloat(formData['OpenAI Temperature']) || 0.7\n  },\n  storage: {\n    provider: storageProvider,\n    base_url: formData['Storage Base URL (Optional)'] || null,\n    cloudinary: {\n      cloud_name: formData['Cloudinary Cloud Name'] || null,\n      upload_preset: formData['Cloudinary Upload Preset (Unsigned)'] || null\n    },\n    generic_http: {\n      upload_endpoint: formData['Generic Upload Endpoint'] || null\n    }\n  }\n};\n\n// Add voice IDs if provided\nconst language = config.language;\nif (formData['Male Voice ID (ElevenLabs)'] || formData['Female Voice ID (ElevenLabs)']) {\n  config.tts.voices[language] = {\n    male: formData['Male Voice ID (ElevenLabs)'] || null,\n    female: formData['Female Voice ID (ElevenLabs)'] || null\n  };\n}\n\nreturn [{\n  json: {\n    config: config,\n    updated_at: now\n  }\n}];"
      },
      "id": "parse_form",
      "name": "Parse Form Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "mode": "list", "value": "yt_studio_config" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "config_key": "=user_settings",
            "config_value": "={{ JSON.stringify($json.config) }}",
            "is_active": true
          }
        },
        "options": {
          "conflictColumns": ["config_key"]
        }
      },
      "id": "save_config",
      "name": "Save Config to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [520, 0],
      "credentials": {
        "postgres": {
          "id": "postgres_yt_studio",
          "name": "PostgreSQL YT Studio"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $node['Parse Form Data'].json;\nconst dbResult = $json;\nconst now = new Date().toISOString();\n\nconst success = !dbResult.error;\n\nreturn [{\n  json: {\n    success: success,\n    message: success ? 'Settings saved successfully!' : 'Failed to save settings: ' + (dbResult.error || 'Unknown error'),\n    config: input.config,\n    saved_at: now\n  }\n}];"
      },
      "id": "build_response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Settings Form": { "main": [[{"node": "Parse Form Data", "type": "main", "index": 0}]] },
    "Parse Form Data": { "main": [[{"node": "Save Config to Database", "type": "main", "index": 0}]] },
    "Save Config to Database": { "main": [[{"node": "Build Response", "type": "main", "index": 0}]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "yt-studio-wf-11-v1",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "wf-11"
}
