exports/n8n/WF-07.json
{
  "name": "WF-07 Render Orchestration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-07",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-07-trigger"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst contract = input;\n\n// Get Shotstack API key from env or resolved_config\nconst shotstackApiKey = $env.SHOTSTACK_API_KEY || contract.resolved_config?.render?.api_key;\nconst shotstackEndpoint = contract.resolved_config?.render?.endpoint || 'https://api.shotstack.io/stage';\n\nif (!shotstackApiKey) {\n  throw new Error('SHOTSTACK_API_KEY not configured');\n}\n\n// Get assets and voiceover\nconst sceneAssets = contract.scene_assets || contract.manifest?.assets?.items || [];\nconst voiceoverUrl = contract.voiceover_url_signed || contract.manifest?.assets?.voiceover?.voiceover_url_signed;\nconst renderConfig = contract.manifest?.render || {};\n\nif (sceneAssets.length === 0) {\n  throw new Error('no_scene_assets');\n}\n\n// Build Shotstack timeline\nconst clips = [];\nlet currentStart = 0;\n\nfor (const asset of sceneAssets) {\n  const duration = asset.duration_sec || 5;\n  \n  clips.push({\n    asset: {\n      type: 'image',\n      src: asset.source_url || asset.local_path\n    },\n    start: currentStart,\n    length: duration,\n    effect: 'zoomIn',\n    transition: {\n      in: 'fade',\n      out: 'fade'\n    }\n  });\n  \n  currentStart += duration;\n}\n\n// Audio track for voiceover\nconst soundtrack = voiceoverUrl ? {\n  src: voiceoverUrl,\n  effect: 'fadeOut'\n} : null;\n\n// Build the Shotstack edit request\nconst editRequest = {\n  timeline: {\n    soundtrack: soundtrack,\n    background: '#000000',\n    tracks: [\n      {\n        clips: clips\n      }\n    ]\n  },\n  output: {\n    format: 'mp4',\n    resolution: renderConfig.resolution === '1920x1080' ? 'hd' : 'sd',\n    fps: renderConfig.fps || 30,\n    quality: 'high'\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...contract,\n      shotstack_api_key: shotstackApiKey,\n      shotstack_endpoint: shotstackEndpoint,\n      shotstack_request: editRequest\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Prepare Shotstack Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.shotstack_endpoint}}/render",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$json.shotstack_api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.shotstack_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3",
      "name": "Submit Render Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const prevNode = $node['Prepare Shotstack Request'].json;\nconst submitResponse = $json;\n\nconst contract = { ...prevNode };\nconst shotstackApiKey = contract.shotstack_api_key;\nconst shotstackEndpoint = contract.shotstack_endpoint;\n\ndelete contract.shotstack_request;\n\n// Check if submission was successful\nif (submitResponse.error || !submitResponse.response?.id) {\n  throw new Error(submitResponse.message || 'Render submission failed');\n}\n\nconst renderId = submitResponse.response.id;\n\nreturn [\n  {\n    json: {\n      ...contract,\n      shotstack_api_key: shotstackApiKey,\n      shotstack_endpoint: shotstackEndpoint,\n      shotstack_render_id: renderId,\n      poll_count: 0,\n      max_polls: 60 // 5 minutes with 5 second intervals\n    }\n  }\n];"
      },
      "id": "4",
      "name": "Extract Render ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.shotstack_endpoint}}/render/{{$json.shotstack_render_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$json.shotstack_api_key}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "5",
      "name": "Poll Render Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1040, 0],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const prevNode = $node['Extract Render ID'].json;\nconst statusResponse = $json;\nconst now = new Date().toISOString();\n\nconst contract = { ...prevNode };\nconst pollCount = (contract.poll_count || 0) + 1;\nconst maxPolls = contract.max_polls || 60;\n\n// Check render status\nconst status = statusResponse.response?.status;\nconst url = statusResponse.response?.url;\n\nif (status === 'done' && url) {\n  // Render complete - clean up and return success\n  delete contract.shotstack_api_key;\n  delete contract.shotstack_endpoint;\n  delete contract.shotstack_render_id;\n  delete contract.poll_count;\n  delete contract.max_polls;\n  \n  return [\n    {\n      json: {\n        ...contract,\n        render_status: 'done',\n        render_url: url,\n        should_poll: false\n      }\n    }\n  ];\n}\n\nif (status === 'failed') {\n  throw new Error('Shotstack render failed');\n}\n\nif (pollCount >= maxPolls) {\n  throw new Error('Render timeout - exceeded maximum poll attempts');\n}\n\n// Still rendering - continue polling\nreturn [\n  {\n    json: {\n      ...contract,\n      poll_count: pollCount,\n      render_status: status || 'rendering',\n      should_poll: true\n    }\n  }\n];"
      },
      "id": "6",
      "name": "Check Render Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.should_poll}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "7",
      "name": "Should Continue Polling?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 0]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "8",
      "name": "Wait 5 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1820, -100]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const now = new Date().toISOString();\nconst input = $json;\n\nconst contract = { ...input };\n\n// Clean up polling fields\ndelete contract.should_poll;\ndelete contract.poll_count;\ndelete contract.max_polls;\ndelete contract.shotstack_api_key;\ndelete contract.shotstack_endpoint;\ndelete contract.shotstack_render_id;\n\ntry {\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-07',\n    change: `step=wf-07 status=STARTED run_id=${contract.run_id} mode=${contract.mode}`\n  });\n\n  const renderId = `render_${contract.run_id}`;\n  const renderUrl = contract.render_url || `https://cdn.shotstack.io/au/stage/${renderId}.mp4`;\n  \n  contract.render_id = renderId;\n  contract.manifest.render.render_id = renderId;\n  contract.manifest.render.render_status = 'completed';\n  contract.manifest.render.render_url = renderUrl;\n  contract.manifest.timestamps.phase = 'render_ready';\n  contract.manifest.timestamps.updated_at = now;\n  contract.manifest.audit.updated_by = 'wf-07';\n\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-07',\n    change: `step=wf-07 status=COMPLETED run_id=${contract.run_id} mode=${contract.mode} render_id=${renderId}`\n  });\n\n  // Clean up render_url from top level\n  delete contract.render_url;\n  delete contract.render_status;\n\n  return [\n    {\n      json: {\n        run_id: contract.run_id,\n        mode: contract.mode,\n        scene_assets: contract.scene_assets,\n        voiceover_url_signed: contract.voiceover_url_signed,\n        render_id: contract.render_id,\n        youtube_video_id: contract.youtube_video_id,\n        manifest: contract.manifest,\n        resolved_config: contract.resolved_config,\n        environment: contract.environment,\n        scope: contract.scope,\n        channel_id: contract.channel_id,\n        runtime_overrides: contract.runtime_overrides,\n        worker: 'WF-07',\n        status: 'COMPLETED',\n        output_summary: `render completed via Shotstack (${renderId})`\n      }\n    }\n  ];\n} catch (error) {\n  const message = error && error.message ? error.message : 'unknown_error';\n  \n  if (contract.manifest && contract.manifest.timestamps) {\n    contract.manifest.timestamps.phase = 'failed_wf_07';\n    contract.manifest.timestamps.updated_at = now;\n    contract.manifest.audit.change_log.push({\n      at: now,\n      by: 'wf-07',\n      change: `step=wf-07 status=FAILED error_code=FAILED_WF_07 error_message=${message} run_id=${contract.run_id} mode=${contract.mode}`\n    });\n  }\n  \n  return [\n    {\n      json: {\n        run_id: contract.run_id || null,\n        mode: contract.mode || null,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed || null,\n        render_id: contract.render_id || null,\n        youtube_video_id: contract.youtube_video_id || null,\n        manifest: contract.manifest || null,\n        resolved_config: contract.resolved_config || null,\n        worker: 'WF-07',\n        status: 'FAILED_WF_07',\n        output_summary: `error=${message}`\n      }\n    }\n  ];\n}"
      },
      "id": "9",
      "name": "Finalize Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1820, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Prepare Shotstack Request", "type": "main", "index": 0}]
      ]
    },
    "Prepare Shotstack Request": {
      "main": [
        [{"node": "Submit Render Job", "type": "main", "index": 0}]
      ]
    },
    "Submit Render Job": {
      "main": [
        [{"node": "Extract Render ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Render ID": {
      "main": [
        [{"node": "Poll Render Status", "type": "main", "index": 0}]
      ]
    },
    "Poll Render Status": {
      "main": [
        [{"node": "Check Render Status", "type": "main", "index": 0}]
      ]
    },
    "Check Render Status": {
      "main": [
        [{"node": "Should Continue Polling?", "type": "main", "index": 0}]
      ]
    },
    "Should Continue Polling?": {
      "main": [
        [{"node": "Wait 5 Seconds", "type": "main", "index": 0}],
        [{"node": "Finalize Render", "type": "main", "index": 0}]
      ]
    },
    "Wait 5 Seconds": {
      "main": [
        [{"node": "Poll Render Status", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000007",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "7"
}
