exports/n8n/WF-09.json
{
  "name": "WF-09 Settings Panel",
  "nodes": [
    {
      "parameters": {
        "formTitle": "WF-09 Settings Panel",
        "formDescription": "Config DB/Data Table üçün settings update",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Environment",
              "fieldType": "dropdown",
              "required": true,
              "fieldOptions": {
                "values": [
                  {"name": "dry_run", "value": "dry_run"},
                  {"name": "staging", "value": "staging"},
                  {"name": "production", "value": "production"}
                ]
              }
            },
            {
              "fieldLabel": "Config Key",
              "fieldType": "text",
              "required": true
            },
            {
              "fieldLabel": "Value Type",
              "fieldType": "dropdown",
              "required": true,
              "fieldOptions": {
                "values": [
                  {"name": "string", "value": "string"},
                  {"name": "number", "value": "number"},
                  {"name": "boolean", "value": "boolean"},
                  {"name": "json", "value": "json"},
                  {"name": "credential_ref", "value": "credential_ref"}
                ]
              }
            },
            {
              "fieldLabel": "Value",
              "fieldType": "textarea",
              "required": false
            },
            {
              "fieldLabel": "Credential Ref",
              "fieldType": "text",
              "required": false
            },
            {
              "fieldLabel": "Scope",
              "fieldType": "dropdown",
              "required": true,
              "fieldOptions": {
                "values": [
                  {"name": "global", "value": "global"},
                  {"name": "channel", "value": "channel"},
                  {"name": "workflow", "value": "workflow"},
                  {"name": "run", "value": "run"}
                ]
              }
            },
            {
              "fieldLabel": "Notes",
              "fieldType": "textarea",
              "required": false
            },
            {
              "fieldLabel": "Is Active",
              "fieldType": "boolean",
              "required": true
            },
            {
              "fieldLabel": "Change Reason",
              "fieldType": "text",
              "required": true
            },
            {
              "fieldLabel": "Dry Run",
              "fieldType": "boolean",
              "required": true
            },
            {
              "fieldLabel": "Updated By",
              "fieldType": "text",
              "required": false
            }
          ]
        }
      },
      "id": "1",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst now = new Date().toISOString();\nconst valueType = input['Value Type'] || input.value_type;\nlet value = input['Value'] || input.value;\n\nif (valueType === 'number') {\n  const parsed = Number(value);\n  if (Number.isNaN(parsed)) {\n    throw new Error('invalid_value_type: expected number');\n  }\n  value = parsed;\n}\n\nif (valueType === 'boolean') {\n  if (typeof value === 'boolean') {\n    // already boolean\n  } else if (typeof value === 'string') {\n    const lowered = value.toLowerCase();\n    if (lowered === 'true') value = true;\n    else if (lowered === 'false') value = false;\n    else throw new Error('invalid_value_type: expected boolean');\n  } else {\n    throw new Error('invalid_value_type: expected boolean');\n  }\n}\n\nif (valueType === 'json') {\n  if (typeof value === 'string') {\n    try {\n      value = JSON.parse(value);\n    } catch (e) {\n      throw new Error('invalid_value_type: invalid JSON');\n    }\n  }\n}\n\nconst credentialRef = input['Credential Ref'] || input.credential_ref || null;\nif (valueType === 'credential_ref' && !credentialRef) {\n  throw new Error('credential_ref_required');\n}\n\nconst isActive = input['Is Active'] === true || input['Is Active'] === 'true' || input.is_active === true;\nconst dryRun = input['Dry Run'] === true || input['Dry Run'] === 'true' || input.dry_run === true;\n\nreturn [\n  {\n    json: {\n      environment: input['Environment'] || input.environment,\n      key: input['Config Key'] || input.key,\n      value: valueType === 'credential_ref' ? null : value,\n      value_type: valueType,\n      credential_ref: valueType === 'credential_ref' ? credentialRef : null,\n      scope: input['Scope'] || input.scope,\n      notes: input['Notes'] || input.notes || null,\n      is_active: isActive,\n      change_reason: input['Change Reason'] || input.change_reason,\n      dry_run: dryRun,\n      updated_by: input['Updated By'] || input.updated_by || 'wf-09',\n      now: now\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const crypto = require('crypto');\nconst input = $json;\nconst settingsUpdateId = crypto.randomUUID();\nconst createdAt = input.now;\nconst updatedAt = input.now;\n\nlet serializedValue = null;\nif (input.value === null || input.value === undefined) {\n  serializedValue = null;\n} else if (input.value_type === 'string') {\n  serializedValue = String(input.value);\n} else {\n  serializedValue = JSON.stringify(input.value);\n}\n\nconst dbRecord = {\n  id: settingsUpdateId,\n  key: input.key,\n  value: serializedValue,\n  value_type: input.value_type,\n  credential_ref: input.credential_ref,\n  scope: input.scope,\n  environment: input.environment,\n  notes: input.notes,\n  is_active: input.is_active,\n  created_at: createdAt,\n  updated_at: updatedAt,\n  updated_by: input.updated_by\n};\n\nconst responseBase = {\n  settings_update_id: settingsUpdateId,\n  action: 'upsert',\n  key: input.key,\n  scope: input.scope,\n  environment: input.environment,\n  dry_run: input.dry_run\n};\n\nreturn [\n  {\n    json: {\n      db_record: dbRecord,\n      response_base: responseBase,\n      dry_run: input.dry_run\n    }\n  }\n];"
      },
      "id": "3",
      "name": "Build Record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.dry_run}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "4",
      "name": "Is Dry Run?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [780, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const base = $json.response_base;\nreturn [\n  {\n    json: {\n      ...base,\n      status: 'DRY_RUN_SUCCESS',\n      message: 'Dry run completed - no changes made to database',\n      would_write: $json.db_record\n    }\n  }\n];"
      },
      "id": "5",
      "name": "Dry Run Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, -120]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "ytb_settings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.db_record.id }}",
            "key": "={{ $json.db_record.key }}",
            "value": "={{ $json.db_record.value }}",
            "value_type": "={{ $json.db_record.value_type }}",
            "credential_ref": "={{ $json.db_record.credential_ref }}",
            "scope": "={{ $json.db_record.scope }}",
            "environment": "={{ $json.db_record.environment }}",
            "notes": "={{ $json.db_record.notes }}",
            "is_active": "={{ $json.db_record.is_active }}",
            "created_at": "={{ $json.db_record.created_at }}",
            "updated_at": "={{ $json.db_record.updated_at }}",
            "updated_by": "={{ $json.db_record.updated_by }}"
          }
        },
        "options": {
          "onConflict": "updateOnConflict",
          "conflictColumns": ["key", "environment", "scope"],
          "updateColumns": ["value", "value_type", "credential_ref", "notes", "is_active", "updated_at", "updated_by"]
        }
      },
      "id": "6",
      "name": "Upsert Setting",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1040, 120],
      "credentials": {
        "postgres": {
          "id": "postgres_ytb",
          "name": "PostgreSQL YTB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $node['Build Record'].json;\nconst dbResult = $json;\n\nif (dbResult.error) {\n  return [\n    {\n      json: {\n        ...input.response_base,\n        status: 'ERROR',\n        error: dbResult.error,\n        message: 'Failed to upsert setting'\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      ...input.response_base,\n      status: 'SUCCESS',\n      message: 'Setting upserted successfully',\n      affected_rows: dbResult.affectedRows || 1\n    }\n  }\n];"
      },
      "id": "7",
      "name": "Success Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 120]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [{"node": "Normalize Input", "type": "main", "index": 0}]
      ]
    },
    "Normalize Input": {
      "main": [
        [{"node": "Build Record", "type": "main", "index": 0}]
      ]
    },
    "Build Record": {
      "main": [
        [{"node": "Is Dry Run?", "type": "main", "index": 0}]
      ]
    },
    "Is Dry Run?": {
      "main": [
        [{"node": "Dry Run Response", "type": "main", "index": 0}],
        [{"node": "Upsert Setting", "type": "main", "index": 0}]
      ]
    },
    "Upsert Setting": {
      "main": [
        [{"node": "Success Response", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000009",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "9"
}
