exports/n8n/WF-06.json
{
  "name": "WF-06 Scene Asset Build",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-06",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-06-trigger"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst contract = input;\n\n// Get API key from env or resolved_config\nconst openaiApiKey = $env.OPENAI_API_KEY || contract.resolved_config?.image_gen?.api_key || contract.resolved_config?.openai?.api_key;\nconst model = contract.resolved_config?.image_gen?.model || 'dall-e-3';\nconst size = contract.resolved_config?.image_gen?.size || '1792x1024';\nconst quality = contract.resolved_config?.image_gen?.quality || 'standard';\n\nif (!openaiApiKey) {\n  throw new Error('OPENAI_API_KEY not configured');\n}\n\n// Get scene plan from manifest\nconst scenePlan = contract.manifest?.assets?.scene_plan || [];\nconst approvedScript = contract.manifest?.script?.approved || '';\nconst topic = contract.manifest?.topic || {};\n\n// Extract scenes from script if scene_plan is empty\nlet scenes = scenePlan;\nif (scenes.length === 0) {\n  const sceneRegex = /\\[SCENE\\s*(\\d+):\\s*([^\\]]+)\\]/gi;\n  let match;\n  while ((match = sceneRegex.exec(approvedScript)) !== null) {\n    scenes.push({\n      scene: parseInt(match[1]),\n      description: match[2].trim(),\n      duration_sec: 25.0\n    });\n  }\n}\n\n// If still no scenes, create default scenes\nif (scenes.length === 0) {\n  scenes = [\n    { scene: 1, description: topic.title || 'Introduction', duration_sec: 30.0 },\n    { scene: 2, description: topic.summary || 'Main content', duration_sec: 30.0 },\n    { scene: 3, description: 'Conclusion', duration_sec: 30.0 }\n  ];\n}\n\n// Prepare DALL-E requests for each scene\nconst dalleRequests = scenes.map((scene, index) => {\n  // Islamic-appropriate prompt modification\n  const basePrompt = scene.description;\n  const islamicPrompt = `Digital illustration for educational video: ${basePrompt}. \n    Style: Clean, modern infographic style with geometric patterns. \n    Important: No human faces, no human figures, no living creatures. \n    Use abstract shapes, nature elements (mountains, water, sky, plants), \n    geometric Islamic patterns, scientific diagrams, and symbolic representations. \n    Color palette: Calming blues, greens, and earth tones. \n    High quality, professional educational content.`;\n  \n  return {\n    scene_index: index,\n    scene_number: scene.scene,\n    scene_description: scene.description,\n    duration_sec: scene.duration_sec,\n    dalle_request: {\n      model: model,\n      prompt: islamicPrompt,\n      n: 1,\n      size: size,\n      quality: quality,\n      response_format: 'url'\n    }\n  };\n});\n\nreturn [\n  {\n    json: {\n      ...contract,\n      openai_api_key: openaiApiKey,\n      dalle_requests: dalleRequests,\n      current_scene_index: 0,\n      generated_assets: [],\n      scene_plan: scenes\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Prepare DALL-E Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{$json.dalle_requests}}",
        "options": {}
      },
      "id": "3",
      "name": "Split Scenes",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [520, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node['Prepare DALL-E Requests'].json.openai_api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.dalle_request) }}",
        "options": {
          "timeout": 120000,
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "4",
      "name": "Call DALL-E API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [780, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const now = new Date().toISOString();\nconst items = $input.all();\nconst prepareNode = $node['Prepare DALL-E Requests'].json;\n\n// Remove sensitive data\nconst contract = { ...prepareNode };\ndelete contract.openai_api_key;\ndelete contract.dalle_requests;\ndelete contract.current_scene_index;\n\ntry {\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-06',\n    change: `step=wf-06 status=STARTED run_id=${contract.run_id} mode=${contract.mode}`\n  });\n\n  const storageBaseUrl = contract.resolved_config?.storage?.base_url || 'https://storage.example.com';\n  const generatedAssets = [];\n  const scenePlan = contract.scene_plan || [];\n  \n  // Process each DALL-E response\n  for (let i = 0; i < items.length; i++) {\n    const item = items[i].json;\n    const sceneInfo = prepareNode.dalle_requests[i];\n    \n    let imageUrl = null;\n    let error = null;\n    \n    if (item.data && item.data[0]) {\n      imageUrl = item.data[0].url || item.data[0].b64_json;\n    } else if (item.error) {\n      error = item.error.message || 'DALL-E generation failed';\n    }\n    \n    const assetId = `asset_${contract.run_id}_${String(sceneInfo.scene_number).padStart(3, '0')}`;\n    \n    // In production, the image would be downloaded and uploaded to storage\n    const storedUrl = imageUrl \n      ? `${storageBaseUrl}/assets/${contract.run_id}/scene_${sceneInfo.scene_number}.png`\n      : null;\n    \n    const asset = {\n      asset_id: assetId,\n      type: 'image',\n      source_url: imageUrl || storedUrl,\n      local_path: `/mnt/assets/${contract.run_id}/scene_${sceneInfo.scene_number}.png`,\n      checksum_sha256: '', // Would be calculated after download\n      duration_sec: sceneInfo.duration_sec,\n      metadata: {\n        license: 'generated',\n        attribution: 'DALL-E 3',\n        tags: ['generated', 'dalle', 'scene'],\n        scene_number: sceneInfo.scene_number,\n        scene_description: sceneInfo.scene_description,\n        generation_error: error\n      }\n    };\n    \n    generatedAssets.push(asset);\n  }\n  \n  // Update contract\n  contract.scene_assets = generatedAssets;\n  contract.manifest.assets.items = generatedAssets;\n  contract.manifest.assets.scene_plan = scenePlan;\n  contract.manifest.timestamps.phase = 'assets_ready';\n  contract.manifest.timestamps.updated_at = now;\n  contract.manifest.audit.updated_by = 'wf-06';\n  \n  // Clean up temporary fields\n  delete contract.scene_plan;\n  delete contract.generated_assets;\n\n  const successCount = generatedAssets.filter(a => !a.metadata.generation_error).length;\n  \n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-06',\n    change: `step=wf-06 status=COMPLETED run_id=${contract.run_id} mode=${contract.mode} assets=${successCount}/${generatedAssets.length}`\n  });\n\n  return [\n    {\n      json: {\n        run_id: contract.run_id,\n        mode: contract.mode,\n        scene_assets: contract.scene_assets,\n        voiceover_url_signed: contract.voiceover_url_signed,\n        render_id: contract.render_id,\n        youtube_video_id: contract.youtube_video_id,\n        manifest: contract.manifest,\n        resolved_config: contract.resolved_config,\n        environment: contract.environment,\n        scope: contract.scope,\n        channel_id: contract.channel_id,\n        runtime_overrides: contract.runtime_overrides,\n        worker: 'WF-06',\n        status: 'COMPLETED',\n        output_summary: `generated ${successCount}/${generatedAssets.length} scene assets via DALL-E 3`\n      }\n    }\n  ];\n} catch (error) {\n  const message = error && error.message ? error.message : 'unknown_error';\n  \n  if (contract.manifest && contract.manifest.timestamps) {\n    contract.manifest.timestamps.phase = 'failed_wf_06';\n    contract.manifest.timestamps.updated_at = now;\n    contract.manifest.audit.change_log.push({\n      at: now,\n      by: 'wf-06',\n      change: `step=wf-06 status=FAILED error_code=FAILED_WF_06 error_message=${message} run_id=${contract.run_id} mode=${contract.mode}`\n    });\n  }\n  \n  return [\n    {\n      json: {\n        run_id: contract.run_id || null,\n        mode: contract.mode || null,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed || null,\n        render_id: contract.render_id || null,\n        youtube_video_id: contract.youtube_video_id || null,\n        manifest: contract.manifest || null,\n        resolved_config: contract.resolved_config || null,\n        worker: 'WF-06',\n        status: 'FAILED_WF_06',\n        output_summary: `error=${message}`\n      }\n    }\n  ];\n}"
      },
      "id": "5",
      "name": "Process Assets Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Prepare DALL-E Requests", "type": "main", "index": 0}]
      ]
    },
    "Prepare DALL-E Requests": {
      "main": [
        [{"node": "Split Scenes", "type": "main", "index": 0}]
      ]
    },
    "Split Scenes": {
      "main": [
        [{"node": "Call DALL-E API", "type": "main", "index": 0}]
      ]
    },
    "Call DALL-E API": {
      "main": [
        [{"node": "Process Assets Result", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000006",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "6"
}
