exports/n8n/WF-05.json
{
  "name": "WF-05 Voiceover Generation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-05",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-05-trigger"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst contract = input;\n\n// Get API key from env or resolved_config\nconst elevenLabsApiKey = $env.ELEVENLABS_API_KEY || contract.resolved_config?.tts?.api_key;\nconst model = contract.resolved_config?.tts?.model || 'eleven_multilingual_v2';\nconst voiceId = contract.resolved_config?.tts?.default_voice_id || 'pNInz6obpgDQGcFmaJgB'; // Adam - multilingual\n\nif (!elevenLabsApiKey) {\n  throw new Error('ELEVENLABS_API_KEY not configured');\n}\n\n// Get the approved script and clean it for TTS\nconst approvedScript = contract.manifest?.script?.approved || '';\n\nif (!approvedScript || approvedScript.length < 50) {\n  throw new Error('no_approved_script');\n}\n\n// Remove scene markers for TTS - only keep the spoken text\nconst cleanScript = approvedScript\n  .replace(/\\[SCENE\\s*\\d+:\\s*[^\\]]+\\]/gi, '')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nreturn [\n  {\n    json: {\n      ...contract,\n      elevenlabs_request: {\n        text: cleanScript,\n        model_id: model,\n        voice_settings: {\n          stability: 0.5,\n          similarity_boost: 0.75,\n          style: 0.0,\n          use_speaker_boost: true\n        }\n      },\n      elevenlabs_api_key: elevenLabsApiKey,\n      elevenlabs_voice_id: voiceId\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Prepare ElevenLabs Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{$json.elevenlabs_voice_id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "xi-api-key",
              "value": "={{$json.elevenlabs_api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "audio/mpeg"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.elevenlabs_request) }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3",
      "name": "Call ElevenLabs API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const now = new Date().toISOString();\nconst prevNode = $node['Prepare ElevenLabs Request'].json;\nconst ttsResponse = $json;\n\n// Remove sensitive data\nconst contract = { ...prevNode };\ndelete contract.elevenlabs_request;\ndelete contract.elevenlabs_api_key;\ndelete contract.elevenlabs_voice_id;\n\ntry {\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-05',\n    change: `step=wf-05 status=STARTED run_id=${contract.run_id} mode=${contract.mode}`\n  });\n\n  // Check for API errors\n  if (ttsResponse.error || ttsResponse.statusCode >= 400) {\n    throw new Error(ttsResponse.error?.message || ttsResponse.detail?.message || 'ElevenLabs API error');\n  }\n\n  // In production, the audio binary would be uploaded to storage\n  // For now, we simulate the storage URL\n  const storageBaseUrl = contract.resolved_config?.storage?.base_url || 'https://storage.example.com';\n  const voiceoverUrl = `${storageBaseUrl}/voiceover/${contract.run_id}.mp3?generated=${Date.now()}`;\n\n  // If we got binary data, note its presence\n  const hasBinaryData = ttsResponse.data || ttsResponse.binary;\n  \n  // Update contract with voiceover info\n  contract.voiceover_url_signed = voiceoverUrl;\n  contract.manifest.assets.voiceover.provider = 'elevenlabs';\n  contract.manifest.assets.voiceover.voice_id = prevNode.elevenlabs_voice_id;\n  contract.manifest.assets.voiceover.speed = 1.0;\n  contract.manifest.assets.voiceover.pitch = 0.0;\n  contract.manifest.assets.voiceover.output_format = 'mp3';\n  contract.manifest.assets.voiceover.voiceover_url_signed = voiceoverUrl;\n  contract.manifest.timestamps.phase = 'voiceover_ready';\n  contract.manifest.timestamps.updated_at = now;\n  contract.manifest.audit.updated_by = 'wf-05';\n\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-05',\n    change: `step=wf-05 status=COMPLETED run_id=${contract.run_id} mode=${contract.mode} provider=elevenlabs has_audio=${!!hasBinaryData}`\n  });\n\n  return [\n    {\n      json: {\n        run_id: contract.run_id,\n        mode: contract.mode,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed,\n        render_id: contract.render_id,\n        youtube_video_id: contract.youtube_video_id,\n        manifest: contract.manifest,\n        resolved_config: contract.resolved_config,\n        environment: contract.environment,\n        scope: contract.scope,\n        channel_id: contract.channel_id,\n        runtime_overrides: contract.runtime_overrides,\n        worker: 'WF-05',\n        status: 'COMPLETED',\n        output_summary: 'voiceover generated via ElevenLabs'\n      }\n    }\n  ];\n} catch (error) {\n  const message = error && error.message ? error.message : 'unknown_error';\n  \n  if (contract.manifest && contract.manifest.timestamps) {\n    contract.manifest.timestamps.phase = 'failed_wf_05';\n    contract.manifest.timestamps.updated_at = now;\n    contract.manifest.audit.change_log.push({\n      at: now,\n      by: 'wf-05',\n      change: `step=wf-05 status=FAILED error_code=FAILED_WF_05 error_message=${message} run_id=${contract.run_id} mode=${contract.mode}`\n    });\n  }\n  \n  return [\n    {\n      json: {\n        run_id: contract.run_id || null,\n        mode: contract.mode || null,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed || null,\n        render_id: contract.render_id || null,\n        youtube_video_id: contract.youtube_video_id || null,\n        manifest: contract.manifest || null,\n        resolved_config: contract.resolved_config || null,\n        worker: 'WF-05',\n        status: 'FAILED_WF_05',\n        output_summary: `error=${message}`\n      }\n    }\n  ];\n}"
      },
      "id": "4",
      "name": "Process Voiceover Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Prepare ElevenLabs Request", "type": "main", "index": 0}]
      ]
    },
    "Prepare ElevenLabs Request": {
      "main": [
        [{"node": "Call ElevenLabs API", "type": "main", "index": 0}]
      ]
    },
    "Call ElevenLabs API": {
      "main": [
        [{"node": "Process Voiceover Result", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000005",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "5"
}
