exports/n8n/WF-03.json
{
  "name": "WF-03 Script Draft",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-03",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-03-trigger"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst contract = input;\n\n// Get API key from env or resolved_config\nconst openaiApiKey = $env.OPENAI_API_KEY || contract.resolved_config?.openai?.api_key;\nconst model = contract.resolved_config?.openai?.model || 'gpt-4o-mini';\nconst maxTokens = contract.resolved_config?.openai?.max_tokens || 2000;\n\nif (!openaiApiKey) {\n  throw new Error('OPENAI_API_KEY not configured');\n}\n\n// Build the prompt for Azerbaijani educational script\nconst topic = contract.manifest?.topic || {};\nconst title = topic.title || 'Mövzu';\nconst summary = topic.summary || '';\nconst keywords = Array.isArray(topic.keywords) ? topic.keywords.join(', ') : '';\nconst sources = Array.isArray(topic.source_references) \n  ? topic.source_references.map(s => s.title).filter(Boolean).join(', ') \n  : '';\n\nconst systemPrompt = `Sən peşəkar Azərbaycan dilində təhsil videoları üçün ssenari yazansan. \nSənin vəzifən 90-120 saniyəlik YouTube Shorts/TikTok formatında qısa, maraqlı və maarifləndirici ssenarilər yazmaqdır.\n\nQaydalar:\n1. Ssenari Azərbaycan dilində olmalıdır\n2. Sadə və aydın dildə yazılmalıdır\n3. 90-120 saniyə oxunma müddəti olmalıdır (təxminən 200-280 söz)\n4. Maraqlı giriş cümləsi ilə başlamalıdır\n5. Əsas məlumatları qısa və konkret şəkildə verməlidir\n6. Vizual göstərişlər üçün [SCENE X: təsvir] formatında markerlar əlavə et (minimum 3, maksimum 5 səhnə)\n7. İslami dəyərlərə uyğun olmalıdır\n8. Hər səhnə 20-30 saniyə olmalıdır\n\nFormat:\n[SCENE 1: səhnə təsviri]\nSpeaker mətni...\n\n[SCENE 2: səhnə təsviri]\nSpeaker mətni...\n\nvə s.`;\n\nconst userPrompt = `Aşağıdakı mövzuda 90-120 saniyəlik maarifləndirici video ssenarisi yaz:\n\nMövzu: ${title}\nXülasə: ${summary}\nAçar sözlər: ${keywords}\nMənbələr: ${sources}\n\nSsenarini yaz:`;\n\nreturn [\n  {\n    json: {\n      ...contract,\n      openai_request: {\n        model: model,\n        messages: [\n          { role: 'system', content: systemPrompt },\n          { role: 'user', content: userPrompt }\n        ],\n        max_tokens: maxTokens,\n        temperature: 0.7\n      },\n      openai_api_key: openaiApiKey\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Prepare OpenAI Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.openai_api_key}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.openai_request) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "3",
      "name": "Call OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const now = new Date().toISOString();\nconst prevNode = $node['Prepare OpenAI Request'].json;\nconst openaiResponse = $json;\n\n// Remove sensitive data\nconst contract = { ...prevNode };\ndelete contract.openai_request;\ndelete contract.openai_api_key;\n\ntry {\n  // Check for API errors\n  if (openaiResponse.error || openaiResponse.statusCode >= 400) {\n    throw new Error(openaiResponse.error?.message || 'OpenAI API error');\n  }\n\n  // Extract the generated script\n  const generatedScript = openaiResponse.choices?.[0]?.message?.content;\n  \n  if (!generatedScript || generatedScript.length < 100) {\n    throw new Error('script_generation_failed');\n  }\n\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-03',\n    change: `step=wf-03 status=STARTED run_id=${contract.run_id} mode=${contract.mode}`\n  });\n\n  // Update manifest with generated script\n  contract.manifest.script.draft = generatedScript;\n  contract.manifest.timestamps.phase = 'script_draft';\n  contract.manifest.timestamps.updated_at = now;\n  contract.manifest.audit.updated_by = 'wf-03';\n\n  // Extract scene markers from script for scene_plan\n  const sceneRegex = /\\[SCENE\\s*(\\d+):\\s*([^\\]]+)\\]/gi;\n  const scenes = [];\n  let match;\n  while ((match = sceneRegex.exec(generatedScript)) !== null) {\n    scenes.push({\n      scene: parseInt(match[1]),\n      description: match[2].trim(),\n      duration_sec: 25.0 // Default duration per scene\n    });\n  }\n  \n  if (scenes.length > 0) {\n    contract.manifest.assets.scene_plan = scenes;\n  }\n\n  contract.manifest.audit.change_log.push({\n    at: now,\n    by: 'wf-03',\n    change: `step=wf-03 status=COMPLETED run_id=${contract.run_id} mode=${contract.mode} script_length=${generatedScript.length} scenes=${scenes.length}`\n  });\n\n  return [\n    {\n      json: {\n        run_id: contract.run_id,\n        mode: contract.mode,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed,\n        render_id: contract.render_id,\n        youtube_video_id: contract.youtube_video_id,\n        manifest: contract.manifest,\n        resolved_config: contract.resolved_config,\n        environment: contract.environment,\n        scope: contract.scope,\n        channel_id: contract.channel_id,\n        runtime_overrides: contract.runtime_overrides,\n        worker: 'WF-03',\n        status: 'COMPLETED',\n        output_summary: `generated script (${generatedScript.length} chars, ${scenes.length} scenes)`\n      }\n    }\n  ];\n} catch (error) {\n  const message = error && error.message ? error.message : 'unknown_error';\n  \n  if (contract.manifest && contract.manifest.timestamps) {\n    contract.manifest.timestamps.phase = 'failed_wf_03';\n    contract.manifest.timestamps.updated_at = now;\n    contract.manifest.audit.change_log.push({\n      at: now,\n      by: 'wf-03',\n      change: `step=wf-03 status=FAILED error_code=FAILED_WF_03 error_message=${message} run_id=${contract.run_id} mode=${contract.mode}`\n    });\n  }\n  \n  return [\n    {\n      json: {\n        run_id: contract.run_id || null,\n        mode: contract.mode || null,\n        scene_assets: contract.scene_assets || [],\n        voiceover_url_signed: contract.voiceover_url_signed || null,\n        render_id: contract.render_id || null,\n        youtube_video_id: contract.youtube_video_id || null,\n        manifest: contract.manifest || null,\n        resolved_config: contract.resolved_config || null,\n        worker: 'WF-03',\n        status: 'FAILED_WF_03',\n        output_summary: `error=${message}`\n      }\n    }\n  ];\n}"
      },
      "id": "4",
      "name": "Process Script Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Prepare OpenAI Request", "type": "main", "index": 0}]
      ]
    },
    "Prepare OpenAI Request": {
      "main": [
        [{"node": "Call OpenAI API", "type": "main", "index": 0}]
      ]
    },
    "Call OpenAI API": {
      "main": [
        [{"node": "Process Script Result", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000003",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "3"
}
