exports/n8n/WF-10.json
{
  "name": "WF-10 Get Config",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wf-10-get-config",
        "responseMode": "lastNode",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "wf-10-trigger"
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst environment = input.environment || 'staging';\nconst scope = input.scope || 'global';\nconst channelId = input.channel_id || null;\nconst runtimeOverrides = input.runtime_overrides || {};\n\nreturn [\n  {\n    json: {\n      run_id: input.run_id || null,\n      mode: input.mode || null,\n      scene_assets: input.scene_assets || [],\n      voiceover_url_signed: input.voiceover_url_signed || null,\n      render_id: input.render_id || null,\n      youtube_video_id: input.youtube_video_id || null,\n      manifest: input.manifest || null,\n      environment,\n      scope,\n      channel_id: channelId,\n      runtime_overrides: runtimeOverrides\n    }\n  }\n];"
      },
      "id": "2",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst n8nBaseUrl = $env.N8N_BASE_URL || 'http://localhost:5678';\n\nconst defaults = {\n  environment: input.environment,\n  publish: {\n    publish_enabled: input.environment === 'production',\n    privacy_default: 'unlisted',\n    channel_id: input.channel_id || '',\n    credentials: {\n      type: 'credential_ref',\n      ref: 'youtube_oauth2'\n    }\n  },\n  storage: {\n    base_url: $env.STORAGE_BASE_URL || 'https://storage.example.com',\n    signing_key: {\n      type: 'credential_ref',\n      ref: 'storage_signing'\n    },\n    asset_bucket: 'ytb-assets'\n  },\n  openai: {\n    api_key: {\n      type: 'credential_ref',\n      ref: 'openai_api'\n    },\n    model: 'gpt-4o-mini',\n    max_tokens: 2000\n  },\n  tts: {\n    provider: 'elevenlabs',\n    api_key: {\n      type: 'credential_ref',\n      ref: 'elevenlabs_api'\n    },\n    model: 'eleven_multilingual_v2',\n    default_voice_id: 'pNInz6obpgDQGcFmaJgB'\n  },\n  image_gen: {\n    provider: 'dalle',\n    api_key: {\n      type: 'credential_ref',\n      ref: 'openai_api'\n    },\n    model: 'dall-e-3',\n    size: '1792x1024',\n    quality: 'standard'\n  },\n  render: {\n    provider: 'shotstack',\n    api_key: {\n      type: 'credential_ref',\n      ref: 'shotstack_api'\n    },\n    endpoint: $env.SHOTSTACK_ENDPOINT || 'https://api.shotstack.io/stage',\n    timeout_sec: 1800\n  },\n  branding: {\n    default_tags: ['elm', 'maarif', 'azərbaycanca'],\n    channel_name: 'Helal Elm'\n  },\n  runtime: {\n    dry_run: input.mode === 'dry_run',\n    publish_off: input.environment !== 'production'\n  },\n  n8n: {\n    base_url: n8nBaseUrl\n  }\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      defaults\n    }\n  }\n];"
      },
      "id": "3",
      "name": "Load Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 0]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "yt_studio_config"
        },
        "where": {
          "values": [
            {
              "column": "environment",
              "value": "={{ $json.environment }}"
            },
            {
              "column": "is_active",
              "value": "=true"
            }
          ]
        },
        "combineFilters": "AND",
        "returnAll": true,
        "options": {}
      },
      "id": "4",
      "name": "Query Config DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [780, 0],
      "credentials": {
        "postgres": {
          "id": "postgres_ytb",
          "name": "PostgreSQL YTB"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $node['Load Defaults'].json;\nconst dbItems = $input.all();\nconst usedDb = Array.isArray(dbItems) && dbItems.length > 0 && !dbItems[0].json?.error;\n\nfunction setNested(obj, path, value) {\n  const parts = path.split('.');\n  let current = obj;\n  for (let i = 0; i < parts.length - 1; i += 1) {\n    const key = parts[i];\n    if (!current[key] || typeof current[key] !== 'object') {\n      current[key] = {};\n    }\n    current = current[key];\n  }\n  current[parts[parts.length - 1]] = value;\n}\n\nfunction parseValue(row) {\n  if (row.value_type === 'credential_ref') {\n    return { type: 'credential_ref', ref: row.credential_ref };\n  }\n  if (row.value_type === 'number') {\n    return Number(row.value);\n  }\n  if (row.value_type === 'boolean') {\n    return row.value === 'true' || row.value === true;\n  }\n  if (row.value_type === 'json') {\n    try {\n      return JSON.parse(row.value);\n    } catch (e) {\n      return row.value;\n    }\n  }\n  return row.value;\n}\n\nconst merged = JSON.parse(JSON.stringify(input.defaults));\n\nif (usedDb) {\n  for (const item of dbItems) {\n    const row = item.json;\n    if (!row || !row.key) continue;\n    \n    // Filter by scope\n    if (row.scope !== 'global' && row.scope !== input.scope) continue;\n    \n    const value = parseValue(row);\n    setNested(merged, row.key, value);\n  }\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      merged_config: merged,\n      used_db: usedDb,\n      db_records_count: usedDb ? dbItems.length : 0\n    }\n  }\n];"
      },
      "id": "5",
      "name": "Merge DB Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst overrides = input.runtime_overrides || {};\n\nfunction deepMerge(target, source) {\n  for (const key of Object.keys(source)) {\n    const value = source[key];\n    if (value && typeof value === 'object' && !Array.isArray(value)) {\n      if (!target[key]) target[key] = {};\n      deepMerge(target[key], value);\n    } else {\n      target[key] = value;\n    }\n  }\n}\n\nconst resolved = JSON.parse(JSON.stringify(input.merged_config));\nconst usedOverrides = Object.keys(overrides).length > 0;\nif (usedOverrides) {\n  deepMerge(resolved, overrides);\n}\n\nlet configSource = 'defaults';\nif (input.used_db && usedOverrides) configSource = 'defaults+db+override';\nelse if (input.used_db && !usedOverrides) configSource = 'defaults+db';\nelse if (!input.used_db && usedOverrides) configSource = 'defaults+override';\n\nconst summary = {\n  used_defaults: true,\n  used_db: input.used_db,\n  used_overrides: usedOverrides,\n  db_records_count: input.db_records_count || 0,\n  scope: input.scope,\n  channel_id: resolved.publish?.channel_id || null,\n  resolved_keys: ['publish', 'storage', 'openai', 'tts', 'image_gen', 'render', 'branding', 'runtime', 'n8n']\n};\n\nreturn [\n  {\n    json: {\n      ...input,\n      resolved_config: resolved,\n      config_source: configSource,\n      effective_config_summary: summary\n    }\n  }\n];"
      },
      "id": "6",
      "name": "Apply Overrides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 0]
    },
    {
      "parameters": {
        "language": "javascript",
        "code": "const input = $json;\nconst resolvedAt = new Date().toISOString();\n\n// Clean up internal fields\nconst cleanedConfig = { ...input.resolved_config };\n\nreturn [\n  {\n    json: {\n      run_id: input.run_id,\n      mode: input.mode,\n      scene_assets: input.scene_assets,\n      voiceover_url_signed: input.voiceover_url_signed,\n      render_id: input.render_id,\n      youtube_video_id: input.youtube_video_id,\n      manifest: input.manifest,\n      resolved_config: cleanedConfig,\n      config_source: input.config_source,\n      effective_config_summary: input.effective_config_summary,\n      scope: input.scope,\n      channel_id: input.channel_id,\n      environment: input.environment,\n      runtime_overrides: input.runtime_overrides,\n      resolved_at: resolvedAt,\n      schema_version: '2.0'\n    }\n  }\n];"
      },
      "id": "7",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 0]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{"node": "Normalize Input", "type": "main", "index": 0}]
      ]
    },
    "Normalize Input": {
      "main": [
        [{"node": "Load Defaults", "type": "main", "index": 0}]
      ]
    },
    "Load Defaults": {
      "main": [
        [{"node": "Query Config DB", "type": "main", "index": 0}]
      ]
    },
    "Query Config DB": {
      "main": [
        [{"node": "Merge DB Config", "type": "main", "index": 0}]
      ]
    },
    "Merge DB Config": {
      "main": [
        [{"node": "Apply Overrides", "type": "main", "index": 0}]
      ]
    },
    "Apply Overrides": {
      "main": [
        [{"node": "Build Response", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00000000-0000-0000-0000-000000000010",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "10"
}
